#calculator {
  background-color: rgb(38, 38, 52);
  max-width: 500px;
  width: 80vh;
  height: 80vh;
  max-height: 800px;
  min-height: 500px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

#buttonsBox {
  background-color: rgb(38, 38, 52);

  width: 100%;
  height: 65%;
  border-radius: 30px;
  box-shadow: 0px -12px 11px -15px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#C1,
#C2,
#C3,
#C4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#result {
  font-size: 80px;
  color: rgb(255, 255, 255);
  margin: 4%;
}
#inputs {
  font-size: 40px;
  margin-right: 4%;
  color: grey;
}


button{
    border: none;
    color: #fff;
    height: 7vh;
    width: 7vw;
    background-color: rgb(46, 47, 56);
    border-radius: 17px;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.operationButton{
    background-color: rgb(75, 94, 252) ;
}
.delete{
    background-image: url(delete.png);
}